
.box-navber{
	height: 50px;
	width: 100%;
	background: #555;
}

.box-content{
	margin-left: 20px;
}

.li-active{
	background: #e0c646;
	font-weight: bold;
	text-shadow:2px 2px 5px #222; 
}

.box-content ul li{
	
	list-style: none;
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: center;
	width: 100px;
	background: #6e8b8e;
	margin-left: 2px
}

.box-content ul li a{
	margin: 0;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;

}
.box-content ul li:hover{
	background: #e0c646;

}

.box-content ul li a:hover{
	color: #555;
	font-weight: bold;
}

